@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  color-scheme: dark;
  --background: #141517;
  --foreground: white;
}

body {
  color: var(--foreground);
  background: var(--background);
}
